allow from all

# Old website's URLs. Still missing:
# /thanks.php
# /bounties
# /demo
# /licences
# /logos
# /mirrors
# /rsync
# /survey
# /sync
# /themes
#
# /agora
# /giapeto
# /imapproxy
# /jonah
# /luxor
# /midas
# /nic
# /rakim
# /sam
# /scry
# /swoosh
# /trean
# /troll
# /ulaform
# /vacation

RedirectMatch permanent (.*)/index.php $1
Redirect permanent /thanks.php /thanks
Redirect permanent /documentation.php /development/documentation
Redirect permanent /irc.php /community/support
Redirect permanent /localization.php /community/localization
Redirect permanent /projects.php /apps
Redirect permanent /support.php /community/support
Redirect permanent /about /community
RedirectMatch permanent /consulting.* /services
# This doesn't work, no idea why:
RedirectMatch permanent /download/app/(index\.php)\?app=(.*) /download/$2
Redirect permanent /mail /community/mail
Redirect permanent /pear http://pear.horde.org
Redirect permanent /source/contribute.php /development/contribute
Redirect permanent /source/cvs.php /development/cvs
Redirect permanent /source/git.php /development/git
Redirect permanent /source/modules.php /development/modules
Redirect permanent /source/versions.php /development/versions
Redirect permanent /source /development

Redirect permanent /accounts/vote /apps/accounts
Redirect permanent /accounts /apps/accounts
Redirect permanent /ansel/screenshots/2 /apps/ansel/screenshots
Redirect permanent /ansel /apps/ansel
Redirect permanent /chora/about /apps/chora
Redirect permanent /chora/vote /apps/chora
Redirect permanent /chora /apps/chora
Redirect permanent /chora /apps/chora
Redirect permanent /dimp /apps/dimp
Redirect permanent /forwards/vote /apps/forwards
Redirect permanent /forwards /apps/forwards
Redirect permanent /gollem/vote /apps/gollem
Redirect permanent /gollem /apps/gollem
Redirect permanent /groupware /apps/groupware
Redirect permanent /hermes /apps/hermes
Redirect permanent /horde/vote /apps/horde
Redirect permanent /horde /apps/horde
# These IMP pages exist but don't load yet.
RedirectMatch permanent /imp/\d\.\d /apps/imp
Redirect permanent /imp/about /apps/imp
Redirect permanent /imp/contrib /apps/imp
Redirect permanent /imp/screenshots/3 /apps/imp
Redirect permanent /imp/screenshots/4 /apps/imp
Redirect permanent /imp/screenshots/5 /apps/imp
Redirect permanent /imp/screenshots/old /apps/imp
Redirect permanent /imp/vote /apps/imp
Redirect permanent /imp /apps/imp
Redirect permanent /ingo/vote /apps/ingo
Redirect permanent /ingo /apps/ingo
Redirect permanent /jeta/about /apps/jeta
Redirect permanent /jeta /apps/jeta
Redirect permanent /klutz /apps/klutz
# Screenshots don't work yet.
Redirect permanent /kronolith/vote /apps/kronolith
Redirect permanent /kronolith /apps/kronolith
Redirect permanent /mimp/vote /apps/mimp
Redirect permanent /mimp /apps/mimp
Redirect permanent /mnemo/vote /apps/mnemo
Redirect permanent /mnemo /apps/mnemo
Redirect permanent /nag/about /apps/nag
Redirect permanent /nag/contrib /apps/nag
Redirect permanent /nag/vote /apps/nag
Redirect permanent /nag /apps/nag
# Passwd still need to be converted to new website logic.
Redirect permanent /passwd /apps/passwd
Redirect permanent /sork /apps/sork
Redirect permanent /turba/about /apps/turba
Redirect permanent /turba/contrib /apps/turba
Redirect permanent /turba/vote /apps/turba
Redirect permanent /turba /apps/turba
Redirect permanent /webmail /apps/webmail
Redirect permanent /whups/vote /apps/whups
Redirect permanent /whups /apps/whups
# Wicked still need to be converted to new website logic.
Redirect permanent /wicked /apps/wicked

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond   %{REQUEST_FILENAME}  !-d
    RewriteCond   %{REQUEST_FILENAME}  !-f
    RewriteRule ^(.*)$ dispatch.php [QSA,L]

    RewriteRule ^$ dispatch.php [QSA,L]
</IfModule>
