body, p, ul, li, td {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
body {
    color: #111;
    background-color: #fff;
    font-size: 10pt;
    margin: 0;
}
pre, tt {
    font-family: "Lucida Console",Courier,"Courier New";
}
table, img {
    border: none;
    padding: 0;
}
h3 {
    margin-bottom: .25em;
}

#headerWrapper {
    margin: 8px;
    position: relative;
}
#header {
    background: #063;
    color: #fff;
}
#header h1 {
    margin: 0 0 0 8px;
    font-size: 30pt;

    background: url("graphics/logos/horde-lettering.png") no-repeat 0 5px !important;
    background: url("graphics/logos/horde-lettering-ie.png") no-repeat 0 5px;

    /* Hide the real text, but aural agents read it. */
    text-indent: -10in;
}
#header h2 {
    margin: 4px 0 0 8px;
    color: #cfc;
    font-size: 14pt;
}
#header img {
    position:absolute;
    right:10px;
    bottom:0;
}

#mainarea {
    padding-right: 8px;
}

#footer {
    color: #666;
    background-color: #e9e9e9;
    font-size: 80%;
    text-align: center;
    margin: 8px;
}

#sidebarWrapper {
    float: right;
    width: 300px;
    padding: 0;
    margin: 0;
}

#sidebarSearch {
    background: #cfc;
    margin-bottom: 8px;
}
#sidebarSearch h2, #sidebarSearch p {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#sidebarSearch h2 {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 120%;
}

#quotes {
    background: #cfc;
}
#quotes p {
    margin: 5px 10px;
}

#accordionContainer {
    background: #cfc;
    margin-bottom: 8px;
}
#accordionInnerContainer {
    background: #fff;
    margin: 3px;
    padding: 0;
}
#accordion h2 {
    color: #063;
    margin: 0;
    padding: 0;
    padding-left: 13px;
    background: #cfc url("graphics/arrow_right.png") no-repeat center left;
    border-bottom: 1px solid #9c9;
    font-size: 120%;
}
#accordion .tabShown h2 {
    background: #cfc url("graphics/arrow_down.png") no-repeat center left;
}
#accordion ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#accordion li {
    font-size: 90%;
    margin: 2px;
    background: #e9e9e9;
}
.accordionContents {
    overflow: auto;
}

h1.pagetitle {
    margin-top: 3px;
    margin-bottom: 0;
}

a {
    color: #66a;
    text-decoration: none;
}
a:visited {
    color: #66a;
    text-decoration: none;
}
a:hover {
    color: #448;
    text-decoration: underline;
}

a.anchor {
    color: #006;
    text-decoration: none;
}

.text {
    color: #111;
    background-color: #fff;
}

/* Used by pear.horde.org. */
#side h2 {
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    color: #fff;
    background: #063;
}
#side ul {
    margin: 0;
    padding: 0 4px 0 0;
    margin-bottom: 1em;
}
#side ul ul {
    padding-left: 10px;
    margin-bottom: 0;
}
#side li {
    list-style-type: none;
    white-space: nowrap;
}
#side li a {
    display: block;
    width: 100%;
    color: #063;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    font-size: 100%;
    font-weight: bold;
}
#side li a:hover {
    color: #fff;
    background: #063;
    text-decoration: none;
}
#side li a.active {
    display: block;
    padding: 2px;
    border-bottom: 1px solid #c5c5c5;
    color: #fff;
    background: #063;
    font-weight: bold;
}
#side li a.active:hover {
    text-decoration: none;
}

td {
    color: #111;
}
div.side {
    color: #000;
    background: #cfc;
    font-size: 10pt;
    margin: 0 8px;
    width: 140px;
}
td.menu {
    background-color: #c5c5c5;
    font-size: 10pt;
}
div.side p {
    clear: both;
}

.horde3 {
    float: left;
    padding-right: 5px;
}

.horde4 {
    float: left;
    padding-right: 5px;
}

code, .literal, .literal-block {
    color: #060;
    background-color: #eee;
    padding: 2px 0;
    line-height: 20px;
}
.box {
    background-color: #e9e9e9;
}
.boxRight {
    float: right;
    margin-left: 5px;
    background-color: #cfc;
}
.boxRight p {
    padding: 5px;
    margin: 0;
}

div.mail {
    margin: 10px 0;
    padding: 0;
}
.mail table {
    margin-left: 10px;
}
.mail th {
    text-align: left;
}
.mail h3 {
    margin: 4px 0 0 10px;
}

.note, .important, .hint, .warning, .alert {
    background-color: #ffb;
    font-size: 100%;
}
.note h2, .note p, .important h2, .important p, .hint h2, .hint p, .warning h2, .warning p, .alert h2, .alert p {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.note h2, .important h2, .hint h2, .warning h2, .alert h2 {
    padding-top: 2px;
    padding-bottom: 2px;
}
.hint {
    background-color: #ccf;
}

.small {
    font-size: 10px;
}

table.menu {
    background-color: #c5c5c5;
    font-size: 10pt;
    border: 2px solid #c5c5c5;
}

.download {
    vertical-align: middle;
    display: inline;
    padding: 1px;
    border: 0;
}

table.roadmap {
    border-collapse: collapse;
}

table.roadmap th {
    background-color: #c5c5c5;
}

table.roadmap th, table.roadmap td {
    border: 1px solid #000;
    padding: 2px;
}

table.roadmap .done {
    background-color: #0c0;
}
table.roadmap .progress {
    background-color: #ee0;
}
table.roadmap .planned {
    background-color: #fa0;
}
table.roadmap .cancelled {
    background-color: #c5c5c5;
    text-decoration: line-through;
}

.dimmed, .dimmed td {
    color: #aaa;
}
.dimmed table.roadmap th, .dimmed table.roadmap .cancelled {
    background-color: #fff;
}
.dimmed table.roadmap th, .dimmed table.roadmap td {
    border-color: #aaa;
}
.dimmed table.roadmap .done {
    background-color: #cfc;
}
.dimmed table.roadmap .progress {
    background-color: #eea;
}
.dimmed table.roadmap .planned {
    background-color: #fd9;
}
.dimmed table.roadmap .cancelled {
    background-color: #d99;
}

/* Docutils styles. */
.section hr {
    width: 75%;
}

.admonition-title {
    color: #f00;
    font-weight: bold;
}

ul.auto-toc {
    list-style-type: none;
    padding-left: 20px;
}
ol.arabic {
    list-style-type: decimal;
}
ol.loweralpha {
    list-style-type: lower-alpha;
}

dl.docutils dt {
    font-weight: bold;
}

th.docinfo-name, th.field-name {
    text-align: right;
}

/* Bounties. */
table.bounties {
    width: 99%;
    margin: 0 0 8px 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
table.bounties th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
}
table.bounties td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#sponsors {
    text-align: center;
}
#sponsors span {
    display: -moz-inline-stack;
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}

#ModulesTable {
    width: 99%;
    margin: 0 0 8px 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
#ModulesTable th {
    padding: 3px;
    background: #e9e9e9;
    border-right: 1px solid #ccc;
    text-align: left;
    white-space: nowrap;
}
#ModulesTable td {
    padding: 3px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.rowEven {
    background-color: #eef;
}
.rowOdd {
    background-color: #fff;
}

/* Informer widget */
#b-webi-widget,
#b-webi-widget a,
#b-webi-widget b,
#b-webi-widget div {
    position: relative;
    padding:0;
    margin:0;
    border:0;
    word-wrap: break-word;
    zoom:1;
}
#b-webi-widget a {
    border: 0;
}
#b-webi-widget a:hover {
}

#b-webi-widget {
    width: 136px;
    margin-left: 2px;
    background: #EDFEEB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#b-webi-widget .b-webi-header {
    font: bold 13px/22px Tahoma;
    color: #111;
    padding: 3px 0 0 3px;
    margin-top: 10px;
}
#b-webi-widget .b-webi-footer {
    text-align: center;
    font: 10px/12px Tahoma;
    color: #898989;
    padding: 3px 0 7px;
    margin-bottom: 10px;
}
#b-webi-widget .b-webi-footer a {
    width: 136px;
    border: 0;
}
#b-webi-widget .b-webi-content {
    padding: 0 2px 6px;
    white-space: normal;
}

#b-webi-widget .b-webi-item {
}
#b-webi-widget .b-webi-item-opened {
    background: #DAF8D6;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#b-webi-widget .b-webi-more,
#b-webi-widget .b-webi-hide {
    position: absolute;
    width: 15px;
    height: 20px;
    overflow: hidden;
    text-indent: -10000px;
    top: 0;
    right: 0;
    font: bold 10px/20px Arial;
    color: #aaa;
    cursor: pointer;
    z-index: 1;
    background: url(http://web.informer.com/img/bg_more_hide.gif) no-repeat center 9px;
}
#b-webi-widget .b-webi-item-opened .b-webi-more {
    display: none;
}
#b-webi-widget .b-webi-more:hover,
#b-webi-widget .b-webi-hide:hover {
    color: #666;
}
#b-webi-widget .b-webi-hide {
    display: none;
    background-position: center -94px;
}
#b-webi-widget .b-webi-item-opened .b-webi-hide {
    display: block;
}
#b-webi-widget .b-webi-more-block {
    padding: 1px 4px 5px;
    display: none;
}
#b-webi-widget .b-webi-item-opened .b-webi-more-block {
    display: block;
}

#b-webi-widget .b-webi-domain {
    padding: 0 20px 0 3px;
    color: #6a6a6a;
}
#b-webi-widget .b-webi-domain a {
    width: 112px;
    border:0;
    font: 12px Arial;
    color: #303086;
}
#b-webi-widget .b-webi-item-opened .b-webi-domain {
    border-bottom: 1px solid #C9E7C5;
}
#b-webi-widget .b-webi-title {
    font: bold 11px/13px Tahoma;
    color: #151515;
    padding-bottom: 5px;
}
#b-webi-widget .b-webi-description {
    font: 11px/13px Tahoma;
    color: #121212;
    padding-bottom: 5px;
}
#b-webi-widget .b-webi-keywords {
    font: 11px/13px Tahoma;
    color: #131313;
}
#b-webi-widget .b-webi-keywords a{
    display: inline;
    border: 0;
    color: #303086;
    font-weight: normal;
    padding: 0;
}
#b-webi-widget .b-webi-keywords a:hover {
    background: none;
    text-decoration: underline;
    color: #303086;
}
