body {
	background-color: white;
	color: #666666;
	font-family: Verdana,sans-serif;
	font-size: 12px;
	text-align: left;
	margin: 0px;
}

img {
	border: 0px;
}

a {
	text-decoration: none;
}

a:link {
	color: #6699cc;
}

a:visited {
	color: #6699cc;
}

a:hover {
	color: #77aadd;
}

a.highlight:hover {
	background-color: #eeeeff;
}

.errText {
	color: #ff0000;
	text-align: left;
	margin-bottom: 10px;
}

.oratorTitle {
	font-family: verdana,sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.oratorTitleHigh {
	font-family: verdana,sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #8b99df;
	text-decoration: none;
}

.oratorHeader {
	background-color: #5b69af;
	color: white;
}

.osHeading {
	font-family: verdana,sans-serif;
	font-size: 26px;
	font-weight: Bold;
	color: black;
}

.osTitle {
	font-family: verdana,sans-serif;
	font-size: 28px;
	font-weight: Bold;
	color: #5b69af;
}

p {
	font-family: verdana,sans-serif;
	font-size: 18px;
	font-weight: Bold;
	color: black;
}

li {
	font-family: verdana,sans-serif;
	font-size: 18px;
	font-weight: Bold;
	color: black;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

ol {
	margin-top: 0px;
	margin-bottom: 0px;
}

